<div>
  <p id="notice"><%= notice %></p>
  <div class="banner" style="background-image:  url('http://userscontent2.emaze.com/images/4c962cfc-d761-4450-bfea-050668ba4e9f/19900606-e18b-4161-b799-738dcf2fc2d9.jpg'); background-size: cover;">
    <div class="banner-content">
      <h1>Cocktails</h1>
      <p>Share Your Favourite Cocktail Recipes</p>
      <%= link_to "Create Yours Now", new_cocktail_path, class: "btn btn-custom"  %>

    </div>
  </div>


    <div class="container" >
      <div class="row">
        <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: url('https://unsplash.it/400/400')">
            <div class="card-category">
              <%= cocktail.name %>
            </div>
            <div class="card-body">
            <div class="card-links" style="display: flex; justify-content: space-around;">
            <%= link_to 'Show', cocktail, class: "card-description" %>
            <%= link_to 'Edit', edit_cocktail_path(cocktail), class: "card-description" %>
            <%= link_to 'Destroy', cocktail, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-description" %>
            </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>


<!-- cl_image_path cocktail.photo -->
